#banner{
    background-image: url('../../../images/banner.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(25, 25, 25, 0.527);
    background-blend-mode: color;
}